.newsletter {
  background: #19a388;
  padding: 60px;
  border-radius: 15px;
}

.subscribe input {
  border: none;
  outline: none;
}
.newsletter h2 {
  color: white;
}
.subscribe{
    padding: 7px 10px;
    background: white;
    width: 45%;
    margin: auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
